html {
  height: 100%;
}
body {
  margin: 0;
  font-family: HelveticaNeue-Bold;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-inner {
  flex: 1;
}

.blogs-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-top: 45px;
}

.blog-item-div {
  min-height: 50vh;
  background: #f3f3f3;
  font-family: HelveticaNeue-Light;
  padding-top: 2rem;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.blog-item-description {
  margin: auto;
  max-width: 750px;
  padding: 24px;
}

.blog-post {
  width: 30%;
}

.blog-post-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-post-img {
  margin-bottom: 1rem;
}

.blog-post-img img {
  width: 100%;
  height: 100%;
}

.blog-post-link-wrap {
  margin-bottom: 1rem;
}

.blog-post-link {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.blog-post-category {
  background-color: black;
  color: white;
  padding: 2px;
  text-transform: uppercase;
}

.blog-post-excerpt {
  font-weight: normal;
  font-family: HelveticaNeue-Light;
}

.home-link {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  text-transform: uppercase;
}

.home-link a {
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
  color: white;
}

footer p {
  text-align: center;
  margin-top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


@media (max-width: 768px) {
  .blogs-div {
    flex-direction: column;
  }
  .blog-post {
    width: 100%;
  }
}